{% extends "public/pub_base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight"
         style="background-image:url(/static/public/8.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                        class="ion-ios-arrow-forward"></i></a></span> <span>About us <i
                        class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">About Us</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center"
                 style="background-image:url(/static/public/6.jpg)">
            </div>
            <div class="col-md-6 wrap-about py-md-5 ftco-animate">
                <div class="heading-section p-md-5">
                    <h2 class="mb-4">About Axis Stone</h2>
                    <p>sample is a real estate investment platform that allows every individual become a Real Estate
                        investor without being discouraged by the conventional methods of buying and selling properties
                        and being an Investor.
                        Individuals can now invest and have direct access to commercial and Residential real estate
                        investment opportunities without being there. </p>
                    <p>sample makes it easier for individual investors to earn and diversify their portfolios with
                        Real Estate handling all cumbersome processes associated with Real Estate for you.</p>
                    <p>
                        Our different investment plans and options are set in various ways to meet the individual's
                        investment criteria putting him in charge to review and evaluate his preferred deals.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="ftco-counter img mt-5" id="section-counter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 heading-section text-center ftco-animate mt-5  fadeInUp ftco-animated">
                    <h2 class="mb-2">sample Marketplace statistics</h2>
                </div>
                <p class="text-center">Since the launch of sample. We have closed 234 Real Estate deals worldwide. Of
                    which 67 of these have been realised.</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 py-4 mb-4">
                        <div class="text text-border d-flex align-items-center"
                             style="flex-direction: column; text-align: center; gap: 15px">
                            <strong class="number"><strong class="number" data-number="17.3"></strong>16.6%</strong>
                            <span>IIR</span>
                            <p class="display-7">Figures are calculated on the previous execution of fully closed deals.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 py-4 mb-4">
                        <div class="text text-border d-flex align-items-center"
                             style="flex-direction: column; text-align: center; gap: 15px">
                            <strong class="number">$<strong class="number" data-number="2">1.5</strong>B</strong>
                            <span>Raised Capital</span>
                            <p class="display-7">Accumulated sum committed through sample</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 py-4 mb-4">
                        <div class="text text-border d-flex align-items-center"
                             style="flex-direction: column; text-align: center; gap: 15px">
                            <strong class="number">$<strong class="number" data-number="70">180</strong>M</strong>
                            <span>Returns on Investment</span>
                            <p class="display-7">Current Total Funds paid to sample investors</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 py-4 mb-4">
                        <div class="text d-flex align-items-center"
                             style="flex-direction: column; text-align: center; gap: 15px">
                            <strong class="number">$<strong class="number" data-number="21">17B</strong></strong>
                            <span>Total Capitalization</span>
                            <p class="display-7">The summed up total of debt and equity funding for all project on
                                sample</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Testimonial</span>
                <h2 class="mb-3">Happy Clients</h2>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel-testimony" data-testimonial>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="mb-4">Investing in real estate has always been a very cumbersome thing to
                                        do. Due to all the processes that comes with acquiring properties. Now I can
                                        invest and diversify my port folio with sample. It's been easier, less
                                        expensive and also the time commitment is shorter. </p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img"
                                             style="background-image:url(/static/images/xperson_1.jpg.pagespeed.ic.P4pHl6glbj.jpg)"></div>
                                        <div class="pl-3">
                                            <p class="name">Mark Poward</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="mb-4">sample has given me the opportunity to be directly involved with
                                        the Real Estate Market. Now I can fully engage and invest, which was very a very
                                        tasking job for me. The fees are less and I get to make better profits</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img"
                                             style="background-image:url(/static/images/xperson_2.jpg.pagespeed.ic.yyrmjBH91b.jpg)"></div>
                                        <div class="pl-3">
                                            <p class="name">Helina McHenry
                                            </p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>

{% endblock %}