{% extends "public/base.html" %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="main"  app-page="forgotpassword">
        <div class="form">
            <form forgotpasswordform="submit">
                <div class="box">
                    <p class="name ist">Email</p>
                    <div class="inp">
                        <input type="email" required name="email" id="email">
                        <i class="ri-mail-line"></i>
                    </div>
                </div>

                <div class="box">
                    <button type="submit" disabled>verify your email</button>
                </div>
            </form>
            <div class="form_ft">
                <p>Don't have an account ? <a href="/CreateAccount">Sign Up</a></p>
            </div>
        </div>
    </div>
{% endblock %}