{% extends "public/pub_base.html" %}

{% block head %}
{% endblock %}

{% block body %}
    <section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight"
             style="background-image:url(/static/public/4.jpg)"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/index">Home <i
                            class="ion-ios-arrow-forward"></i></a></span> <span>Services <i
                            class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-3 bread">Services</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section" style="padding-bottom: 1em !important;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                    <span class="subheading">Our Services</span>
                </div>
            </div>
            <div class="row d-flex">

                <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center"><span
                                class="flaticon-piggy-bank"></span></div>
                        <div class="media-body py-md-4">
                            <h3>Invest In Property</h3>
                            <p>Invest in real time properties and get rentals, sales without having to pay
                                acquisition
                                fees
                                or taxes. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center"><span
                                class="flaticon-wallet"></span></div>
                        <div class="media-body py-md-4">
                            <h3> Invest Passively (REIT)</h3>
                            <p>With sample you can invest and get Returns as a land owner or landlord.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section " style="padding: 1em 0 !important;">
        <div class="container">
            <div class="row d-flex">

                <div class="col-md-12 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="media-body py-md-4">
                            <p>The commercial & Residential real estate investing edge. Build your real estate portfolio
                                with sample.</p>
                            <p>It's essential to diversify your portfolio, going beyond stocks and bonds. Diversifying
                                your portfolio with real estate expands
                                your reach to having a unique and valuable investing strategy.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section ftco-degree-bg services-section img mx-md-5"
             style="background-image:url(/static/images/xbg_2.jpg.pagespeed.ic.rmwWkJk8AO.jpg);margin-bottom: 30px">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-start mb-5">
                <div class="col-md-6 text-center heading-section heading-section-white ftco-animate">
                    <span class="subheading">Work flow</span>
                    <h2 class="mb-3">How it works</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="media block-6 services services-2">
                                <div class="media-body py-md-4 text-center">
                                    <div class="icon mb-3 d-flex align-items-center justify-content-center">
                                        <span>01</span>
                                    </div>
                                    <h3 class="font-size-10">Evaluate Property</h3>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="media block-6 services services-2">
                                <div class="media-body py-md-4 text-center">
                                    <div class="icon mb-3 d-flex align-items-center justify-content-center">
                                        <span>02</span>
                                    </div>
                                    <h3>Invest on property</h3>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="media block-6 services services-2">
                                <div class="media-body py-md-4 text-center">
                                    <div class="icon mb-3 d-flex align-items-center justify-content-center">
                                        <span>03</span>
                                    </div>
                                    <h3>Close the Deal</h3>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="media block-6 services services-2">
                                <div class="media-body py-md-4 text-center">
                                    <div class="icon mb-3 d-flex align-items-center justify-content-center">
                                        <span>04</span>
                                    </div>
                                    <h3>Earn your REIT</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}